html, body {
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
}


.icon {
    width: 30px;
    height: 30px;
}

.rt {
    display: inline;
    margin-right: 10px;
}

header, footer {
    flex-grow: 0;
    flex-shrink: 0;
}

main {
    flex-grow: 2;
}

.wrapper {

    box-sizing: border-box;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    font: 1rem "Roboto", sans-serif;
    margin: 0;
}

.container_horizontal, .container_vertical {
    display: flex;
    justify-content: space-between;
}

.container_vertical {
    flex-direction: column;
}

header img {
    width: 50px;
}

textarea {
    resize: none;
}

#close {
    margin: 5px;
}
#close img {
    height: 30px;
    width: 30px;
}

header > .container_horizontal {
    margin: 5px;
    align-items: center;
}

#search {
    overflow: hidden;
    margin-right: 10px;
    width: 300px;
    border-radius: 15px;
}

#search_words {

    visibility: hidden;
    width: 305px;
    height: 60px;
    background-color: gray;
    color: black;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;

}

#search_words p {

    margin: 0 5px 0 5px;

}

#carts {

    margin-top: 20px;
    margin-bottom: 20px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 10px;
}

.cart {
    border-radius: 5px;;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: solid black;
    justify-content: space-between;
}

.cart > img {

    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 35px;
    height: 200px;
    width: 200px;
    align-self: center;

}

.cart p {

    margin: 10px 0 10px 0;

}

.cart button {

    height: 30px;

}

.active_cart button {

    background-color: yellow;

}


.long_text .tooltip {

    visibility: hidden;
    width: 120px;
    background-color: gray;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;

}
.long_text:hover .tooltip {
    visibility: visible;
}
.long_text {
    width:fit-content;
    overflow:hidden;
    height:40px;
}

.allert {
    display: none;
    padding: 0;
    background-color: darkgrey;
}

.allert h3 {
    margin: 10px;
}

footer, .filter, .main_content {

    border-color: black;
    border: 1px solid;
    
}

.main_content {
    padding: 10px;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

.discount_price {
    text-decoration:line-through;
}

.st {
    
    position: sticky;
    top: 0;
    padding: 10px;
}

th, td {

    padding: 10px;
    text-align: left; 
    vertical-align: top; 
    
}

.apply_button {

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#apply_filter {
    flex-grow: 1;
}


.carts {
    flex-grow: 2;
}
button {
    background-color: darkgray;
    border-color: black;
    border-radius: 10px;
    border: 1px solid;
}

form .container_horizontal {

    justify-content: space-around;
}

.form h2 {
    margin: 10px;
}
form {
    margin-bottom: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0;
    background-color: white;
    height: 50px;
}

#final_price, #delivery_price {

    margin: 0;
    align-self: center;

}

#content {

    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
}

table, tbody tr {
    width: 100%;
    height: 100%; 
    gap: 0;
    border-collapse: collapse;

    border: 1px solid;

    text-align: left;
}

table img {
    width: 30px;
    height: 30px;
}

tr .container_horizontal {

    align-self: center;
}

tr .container_horizontal button {
    
    flex-shrink: 2;

}

.dialog {

    display: none;
    flex-direction: column;
    padding: 0;
    border: solid 1px;
    
    top: 200px;
    z-index: 2;
}

#content {
    width:fit-content;
}

.dialog > p {

    padding: 5px 0 5px 10px;
    margin: 0px;

    border-bottom: solid 1px;

}

.container h4, .container p {
    max-width: 200px;
    margin: 0;
}

.dialog button {

    margin: 10px;
    align-self: flex-end;

    height: 20px;
    width: 100px;
}

#erase p {

    padding: 10px;
    margin: 0;
}

.dialog .container {

    padding: 10px;

    display: grid;
    grid-template-columns: repeat(2, 0fr);
    gap: 10px;  
    justify-content:space-evenly;
    grid-template-columns: 1fr 1fr;

}

.price_block > input {
    border-radius: 15px;
    width: 60px;
}

.filter_block, .filter_radio {
    margin-bottom: 5px;
    margin-top: 5px;
    flex-wrap: 1;
}

.filter_radio {
    display: flex;
}

.short_text {
    width: 120px;
}

#load_more {
    height: 30px;
}

ul {
    list-style-type: none;

    padding: 0;
    margin: 0;
}
.space {
    flex-grow: 10;
}

h4, h2 {
    margin: 0;
}


@media (max-width: 1000px) {

    #carts {
        grid-template-columns: repeat(2, 1fr);
    }
    .cart > img {
        height: 150px;
        width: 150px;
    }

    .cart .container_horizontal {
        justify-content: left;
    }
    .cart .container_horizontal p {
        padding: 0 10px 0 0;
    }
}

@media (max-width: 700px) {

    h2 {
        text-align: center;    
    }

    #carts {
        grid-template-columns: repeat(1, 1fr);
    }

    #form > .container_horizontal {
        flex-direction: column;
        padding: 10px;
    }

    
    #sub {
        justify-content: left;
    }

    #form button {
        margin: 10px;
        padding: 5px;
    }

    td, th {
        font-size: 12px;
    }

    table .container_horizontal {
        flex-direction: column;
    }

}
